.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__item {
  width: calc(100% - var(--gap) * 2);
  margin: 0 calc(var(--gap) / 2);
  transform: translateZ(0);
}

.wrapper-cards {
  margin: 0 10px;
}

.carousel__prev,
.carousel__next {
  @apply p-1 text-white bg-gray-800 rounded-full hover:text-white;
}

.carousel__pagination-button {
  @apply bg-gray-300;
}

.carousel__pagination-button--active {
  @apply bg-gray-800;
}
@media screen and (max-width: 768px) {
  .carousel__slide {
    margin: 15px;
  }
}
/* Small devices (phones, up to 600px) */
@media screen and (max-width: 600px) {
  .carousel__slide {
    margin: 30px;
  }
}

@media screen and (max-width: 480px) {
  .carousel__slide {
    /* margin: 20px; */
  }
}

/* iPhone SE (320px x 568px) */
@media screen and (max-width: 320px) {
  .carousel__slide {
    margin: 20px;
  }
}

/* iPhone XR, 11, 12 Mini, 13 Mini (375px x 812px) */
@media screen and (max-width: 375px) {
  .carousel__slide {
    margin: 20px;
  }
}

/* iPhone X, 11 Pro, 12, 13, 14, 15 (390px x 844px) */
@media screen and (max-width: 390px) {
  .carousel__slide {
    margin: 20px;
  }
}

/* iPhone 11 Pro Max, 12 Pro Max, 13 Pro Max, 14 Plus, 15 Plus (414px x 896px) */
@media screen and (max-width: 414px) {
  .carousel__slide {
    margin: 50px;
  }
}
