.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__item {
  width: calc(100% - var(--gap) * 2);
  margin: 0 calc(var(--gap) / 2);
  transform: translateZ(0);
}

.wrapper-cards {
  margin: 0 10px;
}

/* .carousel__track {
  justify-content: center !important;
}

@media (min-width: 700px) {
  .carousel__track {
    justify-content: flex-start !important;
  }
} */

.carousel__prev,
.carousel__next {
  @apply p-1 text-white bg-gray-800 rounded-full hover:text-white;
}

.carousel__viewport {
  overflow: visible !important;
}

.carousel__pagination-button {
  @apply bg-gray-300;
}

.carousel__pagination-button--active {
  @apply bg-gray-800;
}

.carousel__slide {
  min-width: 200px; /* Set your minimum slide width */
  padding: 0 10px; /* Add gap between slides */
}

.carousel__viewport {
  overflow: hidden !important;
}

